.rect {
    display: inline-block;
    padding: 5px;
    border: black 1px solid;
}

.circle {
    display: inline-block;
    border: 1px black solid;
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
}

.off {
    background-color: red;
}

.on {
    background-color: green;
}